.slide-container {
  width: 70%;
  margin: auto; }

.each-slide > div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-size: cover;
  height: 50em;
}

.each-slide a {
	color: white;
	text-align: left;
	white-space: nowrap;
	text-shadow: 2px 2px 0 #000;
}

.each-slide span {
	color: white;
	text-align: left;
	white-space: nowrap;
	text-shadow: 2px 2px 0 #000;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
